<?xml version="1.0"?>
<launch>

    <env name="OPENAI_API_KEY" value=""/>
    <env name="DESCRIPTION_FOLDER_PATH" value="$(find chatgpt)/description"/>

    <node name="gptPrompter" pkg="chatgpt" type="gpt_prompter.py" output="screen"/>
    <node name="main" pkg="chatgpt" type="main.py" output="screen"/>
    <node name="contoller" pkg="chatgpt" type="turtle_controller_closed_loop.py" output="screen"/>
    <node name="turtle" pkg="turtlesim" type="turtlesim_node" />

</launch>